archives/
source/__pycache__/*
source/build/
source/untitled*.py
*.ini_******
*.dat_******
*.cal
*.old.ini
*.so
*.swp
data/*.txt
!data/full_energy_and_MT.txt
!data/Vcav_and_phis.txt
data/*/*/results/
!*/results/energy_ref.txt
!*/results/M_**.txt
