field_maps_1D/*.edz_b
results/*.beta
results/*.dat
results/*.dst
results/*.par
results/*.plt
results/*.out
results/*.txt
!results/envelope.txt
!results/energy_ref.txt
!results/matrix_ref.txt
!results/M_55_ref.txt
!results/M_56_ref.txt
!results/M_65_ref.txt
!results/M_66_ref.txt
*.old.ini
